<!DOCTYPE html>
<html>
<head>
  <title>Flowy ui</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "flowy/ui/application", media: "all" %>
  <%= javascript_include_tag "flowy/ui/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
